<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script src="../js/jquery-1.12.4.js"></script>
</head>
<body>
	<div class="container" style="margin-top:200px;">
		<div class="row">
			<h1 class="page-header">编辑课程信息</h1>
			<a href="http://localhost:8080/page/1/5" class="btn btn-info">返回首页</a>
			<form id="courseform">
		      <div class="form-group">
		        <label for="exampleInputEmail1">课程名称</label>
		        <input type="text" class="form-control" name="id" value="${course.id}">
		        <input type="text" class="form-control" name="title" value="${course.title}" placeholder="课程名称">
		      </div>
		      <div class="form-group">
		        <label for="exampleInputPassword1">课程分类</label>
		        <select name="category.id" class="form-control">
		        	<option value="">--请选择--</option>
		        	<option value="1" ${(course.category.id==1)?string('selected','')}>Java</option>
					<option value="2" ${(course.category.id==2)?string('selected','')}>JS</option>
					<option value="3" ${(course.category.id==3)?string('selected','')}>PHP</option>
					<option value="4" ${(course.category.id==4)?string('selected','')}>Nodejs</option>
					<option value="5" ${(course.category.id==5)?string('selected','')}>Web</option>
		        </select>
		      </div>
		      <div class="form-group">
		        <label for="exampleInputPassword1">课程老师</label>
		        <select name="user.id" class="form-control">
		        	<option value="">--请选择--</option>
		        	<option value="1" ${(course.user.id==1)?string('selected','')}>徐柯</option>
					<option value="2" ${(course.user.id==2)?string('selected','')}>张三</option>
					<option value="3" ${(course.user.id==3)?string('selected','')}>李四</option>
		        </select>
		      </div>
		      <button type="button" id="savebtn" class="btn btn-default">修改课程</button>
		    </form>
		</div>
	</div>
	<script>
		
		$(function(){
			$("#savebtn").on("click",function(e){
				e.preventDefault();
				var params = $("#courseform").serialize();
				$.post("../course/update",params,function(data){
					if(data=="success"){
						alert("修改成功!!!");
						window.location.href = "../page/1/5";
					}
				});
			});
		});
		
	</script>
</body>
</html>