<!DOCTYPE html>
<html>
<head>
<title>个人中心-IT书</title>
<#include "/public/common.html">
</head>
<body class="site-menubar-fold site-menubar-keep">
	<#include "/public/left.html">
		<div class="page profile profile_index">
			<div class="page-content">
				<div class="row">
					<div style="background:#fff;padding:30px;color:#333;">
						<h1>作业</h1>
						<hr />
						<h1>1:通过jquery的id和属性的方式获取form里面所有的值</h1>
						<form action="">
							<p><input type="text" /></p>
							<p><input type="password" /></p>
							<p>
								<label><input type="radio" name="male" value="1"/>男</label>
								<label><input type="radio" name="male" value="0"/>女</label>
							</p>
							<p><select>
								<option value="10011">长沙</option>
								<option value="10012">邵阳</option>
								<option value="10013">娄底</option>
							</select></p>
							<p>
								<label><input type="checkbox" value="1"/>看书</label>
								<label><input type="checkbox" value="2"/>电影</label>
								<label><input type="checkbox" value="1=3"/>美女</label>
							</p>
							<p>
								<textarea name="" id="" cols="30" rows="10"></textarea>
							</p>
							<p><button>注册</button></p>	
						</form>
						<h2>2：实现对表的CURD操作+分页+模糊搜索</h2>
					</div>
					
					<script>
					
						//jquery 根据id的方式获取元素值
						
						//jquery 属性名字获取值 $(input[name="username"]).val();
						
						//用javascript的方式获取id的值
						
					</script>
					
				</div>
			</div>
		</div>
		<script>
		</script>
	</body>
</html>