<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" >
</head>
<body>


	<div class="container">
		<h1 class="page-header">二维码生成器</h1>
		<form>
		  <div class="form-group">
		    <label>请输入内容：(如果是文字控制在120以内，也可以是链接（必须以http开头），也可以是网络图片地址.)
		   	 <input type="text" class="form-control" style="width:640px;" id="content" placeholder="请输入内容">
		    </label>
		  </div>
		  <button type="button" id="create" class="btn btn-default">生成二维码</button>
		</form>
		<div id="result" style="margin:20px 0;"></div>
	</div>
	<script src="js/jquery-1.12.4.min.js"></script>
	<script>
		$(function(){
			$("#create").on("click",function(){
				var content = $("#content").val();
				$("#result").html("<img src='qrcode?content="+content+"'/>");	
			});
		});
	</script>
</body>
</html>