<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	
	<form>
		<p>用户名：<input type="text" id="usernamne"/></p>
		<p>密码：<input type="text" id="password"/></p>
		<button id="reg">注册</button>	
	</form>	
	<script src="js/jquery-1.12.4.min.js"></script>
	<script>
	
		$(function(){
			
			$("#reg").on("click",function(e){
				e.preventDefault();
				$.ajax({
					type:"post",
					contentType:"application/json",
					url:"http://localhost:8080/handler5",
					beforeSend:function(){
						console.log("请求执行之前处理函数...");
					},
					error:function(){
						console.log("请求响应出错执行函数...");
					},
					success:function(data){
						console.log("请求响应成功执行函数...");
					}
				})
			});
			
		});
		
	</script>

</body>
</html>