<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" >
</head>
<body>
	
	<div class="container">
		<button class="changelan" data-lan="zh">中文</button>
		<button class="changelan" data-lan="en">英文</button>
		<h1 class="page-header text-center" >
			<@spring.message code="title"/>
		</h1>
		<form>
		  <div class="form-group">
		    <label for="exampleInputEmail1"><@spring.message code="loginname"/></label>
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1"><@spring.message code="password"/></label>
		    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputFile">File input</label>
		    <input type="file" id="exampleInputFile">
		    <p class="help-block">Example block-level help text here.</p>
		  </div>
		  <button type="submit" class="btn btn-default"><@spring.message code="submit"/></button>
		</form>
	</div>
	
	<script src="js/jquery-1.12.4.min.js"></script>
	<script>
		$(function(){
			$(".changelan").on("click",function(){
				var lan = $(this).data("lan");
				$.get("changelan?lan="+lan,function(data){
					if(data=='success'){
						window.location.href =window.location.href; 
					}
				})
			});
		});
	</script>
</body>
</html>